@model PasswordVM 
@{
    ViewData["Title"] = "Профил - промяна на парола";
    var userType = ViewData["UserType"] as UserType;
    @if (userType.UserTypeName == "HR")
    {
        Layout = "~/Views/Shared/_LayoutHR.cshtml";
    }
    @if (userType.UserTypeName == "Employee")
    {
        Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
    }
}
<div class="container mt-3 d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex justify-content-center align-items-center">
        <h3>Променете своята парола</h3>
    </div>
    <hr class="w-75">

    <div class="w-75 p-4 d-flex flex-column">
        <form method="post" asp-action="Submit_Password_Changes" id="passwordForm" novalidate>
            <div class="col-12 pt-3">
                <div class="form-floating">
                    <input type="password" class="form-control" placeholder="Old password" id="oldPassword" asp-for="OldPassword" required>
                    <label for="oldPassword">Стара парола</label>
                </div>
            </div>

            <div class="col-12 pt-3">
                <div class="form-floating">
                    <input type="password" class="form-control" placeholder="New password" id="newPassword" asp-for="NewPassword" required>
                    <label for="newPassword">Нова парола</label>
                </div>
            </div>

            <div class="col-12 pt-3">
                <div class="form-floating">
                    <input type="password" class="form-control" placeholder="Confirm password" id="confirmPassword" asp-for="ConfirmPassword" required>
                    <label for="confirmPassword">Потвърдете паролата</label>
                </div>
            </div>

            <div class="d-flex justify-content-center pt-4">
                <button type="submit" class="btn btn-primary ">Запазете промените</button>
            </div>
        </form>
    </div>
</div>