@model AddEmployeeVM
@{
    ViewData["Title"] = "Добави нов служител";
    Layout = "~/Views/Shared/_LayoutHR.cshtml";
    var departments = ViewData["Departments"] as IEnumerable<Department>;
    var date_today = DateTime.UtcNow;

    var info = ViewData["Information"];
}
<div class="container pb-5 mb-auto mt-3 d-flex flex-column justify-content-center align-items-center">
    @if (info != null)
    {
        @if (info.Equals("ValidationFailed"))
        {
            <div class="w-75 alert alert-info d-flex align-items-center justify-content-center" role="alert">
                Има грешка във въведените от вас данни и не могат да бъдат обработени.
            </div>
        }
    }

    <div class="d-flex justify-content-center align-items-center">
        <h3>Добави нов служител</h3>
    </div>
    <hr class="w-75">

    <div class="w-75 p-4 d-flex flex-column">


        <form asp-action="AddEmployee" method="post" enctype="multipart/form-data" id="addEmployeeForm" novalidate>

            <div class="row">
                <h4>Информация за служителя</h4>
            </div>

            <hr width="30%">

            <div class="col-12 pt-3">
                <div class="col-md">
                    <div class="form-floating">
                        <input type="text" class="form-control" placeholder="First name" asp-for="FirstName" required>
                        <label asp-for="FirstName">Име</label>
                    </div>
                </div>

                <div class="col-md pt-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" placeholder="First name" asp-for="MiddleName" required>
                        <label asp-for="MiddleName">Презиме</label>
                    </div>
                </div>

                <div class="col-md pt-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" placeholder="Last name" asp-for="LastName" required>
                        <label asp-for="LastName">Фамилия</label>
                    </div>
                </div>
            </div>

            <div class="row pt-3">
                <div class="col-md">
                    <div class="form-floating">
                        <input type="email" class="form-control" placeholder="Email address" asp-for="Email" required>
                        <label asp-for="Email">Email адрес</label>
                    </div>
                </div>

                <div class="col-md">
                    <div class="form-floating">
                        <select class="form-select pt-4" id="selectGender" name="gender" asp-for="Gender" required>
                            <option value="" hidden selected>Изберете пол</option>
                            <option value="Мъж">Мъж</option>
                            <option value="Жена">Жена</option>
                        </select>
                        <label asp-for="Gender">Пол</label>
                    </div>
                </div>
            </div>

            <div class="row pt-3">
                <div class="col-md">
                    <div class="form-floating">
                        <input type="text" class="form-control" placeholder="Phone Number" asp-for="PhoneNumber" required>
                        <label asp-for="PhoneNumber">Телефонен номер</label>
                    </div>
                </div>

                <div class="col-md">
                    <div class="form-floating">
                        <input type="date" class="form-control" placeholder="Birthday" asp-for="Birthday" required>
                        <label asp-for="Birthday">Рождена дата</label>
                    </div>
                </div>
            </div>

            <div class="row pt-5">
                <h4>Адрес</h4>
            </div>

            <hr width="30%">

            <div class="pb-2 pt-3">

                <div class="col-12">
                    <div class="form-floating">
                        <select class="form-select pt-4" id="selectCountry" name="country" asp-for="Country" required>
                            <option value="Длъжност" hidden>Избери държава</option>
                        </select>
                        <label for="selectCountry">Държава</label>
                    </div>
                </div>

                <div class="col-12 pt-3">
                    <div class="form-floating">
                        <input class="form-control" placeholder="Област" list="regions" name="region" id="selectRegion" asp-for="Region" required>
                        <datalist id="regions">
                        </datalist>
                        <label for="selectRegion">Област</label>
                    </div>
                </div>

                <div class="row pt-3">
                    <div class="col-md">
                        <div class="form-floating">
                            <input class="form-control" placeholder="Град" list="cities" name="city" id="selectCity" asp-for="City" required>
                            <datalist id="cities">
                            </datalist>
                            <label for="selectCity">Град</label>
                        </div>
                    </div>

                    <div class="col-md">
                        <div class="form-floating">
                            <input type="number" class="form-control" id="inputPostalCode" asp-for="Postal_Code" readonly required>
                            <label asp-for="Postal_Code">Пощенски код</label>
                        </div>
                    </div>
                </div>

                <div class="col-12 pt-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" placeholder="Street address" asp-for="Address" required>
                        <label asp-for="Address">Улица</label>
                    </div>

                    <div class="pt-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" placeholder="Street address 2" asp-for="Additional_Address">
                            <label asp-for="Additional_Address">Допълнение към адрес (незадължително)</label>
                        </div>
                    </div>
                </div>


            </div>

            <div class="row pt-5">
                <h4>Работна информация</h4>
            </div>

            <hr width="30%">

            <div class="pb-2 pt-3">

                <div class="row pt-3">
                    <div class="col-md">
                        <div class="form-floating">
                            <select class="form-select pt-4" id="selectDepartment" name="department" asp-for="Department" required>
                                <option value="Отдел" hidden>Избери отдел</option>
                                @foreach (var dep in @departments)
                                {
                                    <option value="@(dep.Id)">@dep.DepartmentName</option>
                                }
                            </select>
                            <label for="selectDepartment">Отдел</label>
                        </div>
                    </div>

                    <div class="col-md">
                        <div class="form-floating">
                            <select class="form-select pt-4" id="selectRole" name="role" asp-for="Role" required>
                                <option value="Длъжност" hidden>Избери длъжност</option>
                            </select>
                            <label for="selectRole">Длъжност</label>
                        </div>
                    </div>
                </div>


                <div class="row pt-3">
                    <div class="col-md">
                        <div class="form-floating">
                            <input type="text" class="form-control" placeholder="Salary" name="Salary" id="Salary" asp-for="Salary" required>
                            <label asp-for="Salary">Брутна заплата</label>
                        </div>
                    </div>

                    <div class="col-md">
                        <div class="form-floating">
                            <input type="date" class="form-control" placeholder="Start Date" min="@(date_today.ToString("yyyy-MM-dd"))" asp-for="StartDate" required>
                            <label asp-for="StartDate">Дата на започване на работа</label>
                        </div>
                    </div>
                </div>


            </div>

            <div class="row pt-5">
                <h4>Снимка</h4>
            </div>

            <hr width="30%">

            <div class="input-group mb-3">
                <input type="file" class="form-control" asp-for="PictureSrc" accept="image/*">
            </div>

            <div class="d-flex justify-content-center pt-4">
                <button type="submit" class="btn btn-primary ">Запази</button>
            </div>
        </form>
    </div>
</div>